@model CatalogModel
@{
  ViewData["Title"] = Model.Name;
}

<div class="Catalog Cat@(Model.LayoutCode)">

  @for (int i = 0; i < Model.Layout.FrontPageCount; i++)
  {
    var className = i == 0 ? "FrontCover" : "FrontPage";
    <div class="CatalogPage @className">
      <img class="CoverImage" src="~/images/coverpages/frontpage/@Model.LayoutCode/@Model.LanguageCode-@Model.LayoutCode-predna-obalka-@(i).jpg" />
      @if (i == 0)
      {
        <div class="CoverName">@Model.Name</div>
        <div class="CoverYear">@(DateTime.Today.Year + 1)</div>
        <div class="CoverPrice">@Model.PriceLevelText</div>
      }
    </div>
  }

  <div class="CatalogPage FrontPage IS-Content">
    <div class="Content">
      <div class="ContentTitle">@Model.Language?.ContentTitle</div>
      <table class="ContentTable">
        @foreach (var contentItem in Model.ContentItems)
        {
          <tr>
            <td class="ContentName">@contentItem.Name01</td>
            <td class="ContentPage">@contentItem.Page</td>
          </tr>
        }
      </table>
    </div>
  </div>

  <div class="CatalogPage FrontPage IS-Legend">
    <div class="Legend">
      <div class="LegendHeader">
        <div class="LegendTitle">@Model.Language?.LegendTitle</div>
        <div class="LegendDescription">@Model.Language?.LegendDescription</div>
      </div>
      <div class="LegendItems">
        @foreach (var legendItem in Model.LegendItems.Where(o => !o.Val.Contains("::")).GroupBy(o => new { o.StrPropertyNameForCust, o.StrExternalID }).Select(o => o.FirstOrDefault()))
        {

          <div class="LegendItem">
            <div class="LegendIcon">
              <img class="Image" src="~/images/parameters/@legendItem.StrExternalID" onError='ImgErrorVideo(this);' />
            </div>
            <div class="LegendText">
              <div class="Caption">@legendItem.StrName</div>
              @legendItem.StrDescription
            </div>
          </div>
        }
      </div>
    </div>
    <div class="LegendContent">
      @Html.Raw(Model.LegendContent)
    </div>
  </div>

  @foreach (var page in Model.Pages)
  {
    @if (page.Page.PictureImage != null)
    {
      <div class="CatalogPage">
        <img class="CoverImage" src="@($"data:image/gif;base64,{Convert.ToBase64String(page.Page.PictureImage)}")" />
      </div>
    }

    <div class="Page@(page.Style)">
      <partial name="Sections/@(page.Style)" model="page" />
    </div>
  }

  @for (int i = 0; i < Model.Layout.BackPageCount; i++)
  {
    var className = i == Model.Layout.BackPageCount - 1 ? "BackCover" : "BackMatter";
    if (i == Model.Layout.BackPageCount - 1 && Model.PriceLevelId != -1)
    {
      <div class="CatalogPage BackMatter IS-Disclaimer">
        @Html.Raw(@Model.Disclaimer)
      </div>
    }
    <div class="CatalogPage @className">
      <img class="CoverImage" src="~/images/coverpages/lastpage/@Model.LayoutCode/@Model.LanguageCode-@Model.LayoutCode-zadna-obalka-@(i).jpg" />
    </div>
  }

</div>
