@model CatalogModel
@{
  ViewData["Title"] = Model.Name;
}

<div class="Catalog @(Model.LayoutCode)Catalog">

  @for (int i = 0; i < Model.Layout.FrontPageCount; i++)
  {
    var className = i == 0 ? "FrontCover" : "FrontPage";
    <div class="CatalogPage @className">
      <img class="CoverImage" src="~/images/coverpages/frontpages/@Model.LayoutCode/@Model.LanguageCode-@Model.LayoutCode-predna-obalka-@(i)@Model.Layout.CoverPageExtension" />
      @if (i == 0)
      {
        <div class="CoverLayer">
          @if (string.IsNullOrEmpty(Model.FrontCoverContent))
          {
            <div class="CoverName">@Model.Name</div>
            <div class="CoverYear">@Model.Year</div>
            <div class="CoverPriceLevel">@Model.PriceLevel</div>
          }
          else
          {
            @Html.Raw(Model.FrontCoverContent);
          }
        </div>
      }
    </div>
  }

  <div class="CatalogPage FrontPage IS-Content">
    <div class="Content">
      <div class="ContentTitle">@Model.Language?.ContentTitle</div>
      <table class="ContentTable">
        @foreach (var contentItem in Model.ContentItems)
        {
          <tr>
            <td class="ContentName">@contentItem.Name01</td>
            <td class="ContentPage">@contentItem.Page</td>
          </tr>
        }
      </table>
    </div>
  </div>

  <div class="CatalogPage FrontPage IS-Legend">
    <div class="Legend">
      <div class="LegendHeader">
        <div class="LegendTitle">@Model.Language?.LegendTitle</div>
        <div class="LegendDescription">@Model.Language?.LegendDescription</div>
      </div>
      <div class="LegendItems">
        @foreach (var legendItem in Model.LegendItems.Where(o => !o.Value.Contains("::")).GroupBy(o => new { o.StrPropertyNameForCust, o.ImageFileName }).Select(o => o.FirstOrDefault()))
        {
          <div class="LegendItem">
            <div class="LegendIcon">
              <img class="Image" src="~/images/parameters/@legendItem.ImageFileName" onError='ParameterImageError(this);' />
            </div>
            <div class="LegendText">
              <div class="Caption">@legendItem.Name</div>
              @legendItem.Description
            </div>
          </div>
        }
      </div>
    </div>
    <div class="LegendContent">
      @Html.Raw(Model.LegendContent)
    </div>
  </div>

  @foreach (var page in Model.Pages)
  {
    if (page.Page.PictureImage != null)
    {
      <div class="CatalogPage BodyPage">
        <img class="CoverImage" src="@($"data:image/gif;base64,{Convert.ToBase64String(page.Page.PictureImage)}")" />
      </div>
    }

    <partial name="Pages/@(page.IsFosali ? "Fosali" : "Ledeco")" model="page" />
  }

  @for (int i = 0; i < Model.Layout.BackPageCount; i++)
  {
    var className = i == Model.Layout.BackPageCount - 1 ? "BackCover" : "BackPage";
    if (i == Model.Layout.BackPageCount - 1 && Model.PriceLevelId != -1)
    {
      <div class="CatalogPage BackPage IS-Disclaimer">
        @Html.Raw(@Model.Disclaimer)
      </div>
    }
    <div class="CatalogPage @className">
      <img class="CoverImage" src="~/images/coverpages/backpages/@Model.LayoutCode/@Model.LanguageCode-@Model.LayoutCode-zadna-obalka-@(i)@Model.Layout.CoverPageExtension" />
    </div>
  }

</div>
