@model PageModel

<div class="CatalogPage BodyMatter">

  <div class="PageSection PageHeader">

    <div style="position: relative">
      @if (Model.PageInfo.BannerImage != null)
      {
        <img class="PART-Banner" src="@string.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.PageInfo.BannerImage))" />
      }

      <div class="PART-Title section1categoryFosali">@Model.PageInfo.CategoryName</div>
    </div>

    <div class="PART-Text section1textFosali">@Model.PageInfo.KratkyPopisKategorie</div>

    @if (Model.PageInfo.StrText9 != null)
    {
      <div class="PART-Text section1textFosali">@Model.PageInfo.StrText9</div>
    }
    else
    {
      <div class="PART-Text section1textFosali">@Model.PageInfo.PopisProduktuParent</div>
    }

    @if (Model.PageInfo.StrText10 != null)
    {
      <div class="PART-Text section1textFosali">@Model.PageInfo.StrText10</div>
    }

  </div>

  @if (Model.LegendItems.Count() > 0)
  {
    <div class="PageSection PageLegend section421Fosali">
      @foreach (var legendItem in Model.LegendItems.Where(l => (!l.Val.Contains("::") && (l.StrExternalID != "ID104.png"))))
      {
        <div class="PART-Item">
          <img class="Image" src="~/images/parameters/@legendItem.StrExternalID" onError='ImgErrorVideo(this);' />
          <span class="Text">@legendItem.Val</span>
        </div>
      }
    </div>
  }

  <div style="display:flex">

    <div style="width: 30%">

      <div class="PageSection PageImages section3">
        @foreach (var productPicture in Model.ProductPictures)
        {
          <div class="PageImage">
            @if (productPicture.BlobData2 != null)
            {
              <img class="Image" src="@($"data:image/gif;base64,{Convert.ToBase64String(productPicture.BlobData2)}")" />
            }
          </div>
          <div class="PageImage">
            @if (productPicture.Img != null)
            {
              <img class="Image" src="@($"data:image/gif;base64,{Convert.ToBase64String(productPicture.Img)}")" />
            }
          </div>
        }

      </div>
    </div>

    <div style="width: 70%">

      <div class="PageSection PageProducts">

        <table class="PART-Table">
          <tr>
            <th class="PART-Cell-Name" style="width: 28%">@Model.CatalogLanguage.ProductName</th>
            <th class="PART-Cell-Version" style="width: 38%">@Model.CatalogLanguage.ProductVersion</th>
            <th class="PART-Cell-Dimension">@Model.CatalogLanguage.ProductLength</th>
            <th class="PART-Cell-Dimension">@Model.CatalogLanguage.ProductWidth</th>
            <th class="PART-Cell-Dimension">@Model.CatalogLanguage.ProductHeight</th>
            <th class="PART-Cell-Dimension">@Model.CatalogLanguage.ProductDiameter</th>
            @if (Model.PriceLevel != -1)
            {
              <th class="PART-Cell-Version" style="width: 10%;">@Model.CatalogLanguage.ProductPrice</th>
            }
          </tr>
          @foreach (var product in Model.Products)
          {
            <tr>
              <td class="PART-Cell-Name"><a href=@("https://www.fosali.com/_/search?query=" + Model.PageInfo.CategoryName + "&scope=site&showTabs=false") target="_blank">@product.Názov</a></td>
              <td class="PART-Cell-Version">@Html.DisplayFor(modelItem => product.CctK)</td>
              <td class="PART-Cell-Dimension">@product.Dĺžka</td>
              <td class="PART-Cell-Dimension">@product.Šírka</td>
              <td class="PART-Cell-Dimension">@product.Výška</td>
              <td class="PART-Cell-Dimension">@product.StrText1</td>
              @if (Model.PriceLevel != -1)
              {
                var price = product.NumValue;
                <td class="PART-Cell-Price">@(price.HasValue && price.Value != 0.0 ? $"{price} €" : Model.CatalogLanguage.ProductPriceInfo)</td>
              }
            </tr>
          }
        </table>

        @*
          @if (Model.Section4.Count() > 0)
          {
            <div class="PART-Parameters">
              @foreach (var sec4 in Model.Section4.Where(sec4 => sec4.Val.Contains("::")))
              {
                <div class="PART-Item">
                  <span class="PART-Label">@sec4.StrPropertyNameForCust: &nbsp</span>
                  <span>@sec4.Val.Replace("::", ", ")</span>
                </div>
              }
            </div>
          }
        *@
      </div>

      @if (Model.Accessories.Count() > 0)
      {
        <div class="PageSection PageAccessories">
          <div class="PART-Title">
            @Model.CatalogLanguage?.AccessoriesSectionTitle
          </div>

          <table class="PART-Table">
            @foreach (var accessory in Model.Accessories)
            {
              <tr>
                <td class="PART-Cell-Code"><a href=@("https://shop.ledeco.sk/<" + accessory.Kod + ">") target="_blank">@accessory.Kod</a></td>
                <td class="PART-Cell-Description">@accessory.Popis</td>
              </tr>
            }
          </table>
        </div>
      }

    </div>

  </div>

  <span class="PageNumber">
    <span>@Model.PageInfo.Number</span>
  </span>

</div>
