@model PageModel

<div class="CatalogPage BodyPage FosaliPage">

  <div class="PageSection HeaderSection">

    @if (Model.Page.BannerImage != null)
    {
      <img class="PageBanner" src="@string.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.Page.BannerImage))" />
    }

    <div class="PageTitle">@Model.Page.CategoryName</div>

  </div>

  <div class="PageSection ContentSection">

    <div class="PageSection TextSection">

      <div class="PageParagraph">@Model.Page.KratkyPopisKategorie</div>

      @if (Model.Page.StrText9 != null)
      {
        <div class="PageParagraph">@Model.Page.StrText9</div>
      }
      else
      {
        <div class="PageParagraph">@Model.Page.PopisProduktuParent</div>
      }

      @if (Model.Page.StrText10 != null)
      {
        <div class="PageParagraph">@Model.Page.StrText10</div>
      }

    </div>

    @if (Model.LegendItems.Count > 0)
    {
      <div class="PageSection LegendSection">
        @foreach (var legendItem in Model.LegendItems.Where(l => (!l.Val.Contains("::") && (l.StrExternalID != "ID104.png"))))
        {
          <div class="PageLegendItem">
            <img class="Image" src="~/images/parameters/@legendItem.StrExternalID" onError='ParameterImageError(this);' />
            <span class="Text">@legendItem.Val</span>
          </div>
        }
      </div>
    }

    <div class="PageSection ColumnsSection">

      <div class="SectionColumn">

        <div class="PageSection ImagesSection">
          @foreach (var productPicture in Model.ProductPictures)
          {
            <div class="PageImage">
              @if (productPicture.BlobData2 != null)
              {
                <img class="Image" src="@($"data:image/gif;base64,{Convert.ToBase64String(productPicture.BlobData2)}")" />
              }
            </div>
            <div class="PageImage">
              @if (productPicture.Img != null)
              {
                <img class="Image" src="@($"data:image/gif;base64,{Convert.ToBase64String(productPicture.Img)}")" />
              }
            </div>
          }

        </div>
      </div>

      <div class="SectionColumn">

        <div class="PageSection ProductsSection">

          <table class="ProductTable">
            <tr>
              <th class="ProductName">@Model.Language.ProductName</th>
              <th class="ProductVersion">@Model.Language.ProductVersion</th>
              <th class="ProductDimension">@Model.Language.ProductLength</th>
              <th class="ProductDimension">@Model.Language.ProductWidth</th>
              <th class="ProductDimension">@Model.Language.ProductHeight</th>
              <th class="ProductDimension">@Model.Language.ProductDiameter</th>
              @if (Model.HasPrices)
              {
                <th class="ProductPrice">@Model.Language.ProductPrice</th>
              }
            </tr>
            @foreach (var product in Model.Products)
            {
              <tr>
                <td class="ProductName"><a href=@("https://www.fosali.com/_/search?query=" + Model.Page.CategoryName + "&scope=site&showTabs=false") target="_blank">@product.Názov</a></td>
                <td class="ProductVersion">@Html.DisplayFor(modelItem => product.CctK)</td>
                <td class="ProductDimension">@product.Dĺžka</td>
                <td class="ProductDimension">@product.Šírka</td>
                <td class="ProductDimension">@product.Výška</td>
                <td class="ProductDimension">@product.StrText1</td>
                @if (Model.HasPrices)
                {
                  var price = product.NumValue;
                  <td class="ProductPrice">@(price.HasValue && price.Value != 0.0 ? $"{price} €" : Model.Language.ProductPriceInfo)</td>
                }
              </tr>
            }
          </table>

        </div>

        @if (Model.Accessories.Count > 0)
        {
          <div class="PageSection AccessoriesSection">

            <div class="AccessoriesSectionTitle">
              @Model.Language?.AccessoriesSectionTitle
            </div>

            <table class="AccessoryTable">
              @foreach (var accessory in Model.Accessories)
              {
                <tr>
                  <td class="AccessoryCode">@accessory.Kod</td>
                  <td class="AccessoryDescription">@accessory.Popis</td>
                </tr>
              }
            </table>

          </div>
        }

      </div>

    </div>

  </div>

  <div class="PageSection FooterSection">
    <span class="PageNumber">@Model.Page.Number</span>
  </div>

</div>
